.ds-container {
  width: 100%;
  max-width: var(--ds-container-max);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--ds-space-4);
  padding-right: var(--ds-space-4);
}

.ds-container--sm {
  max-width: 540px;
}

.ds-container--md {
  max-width: 720px;
}

.ds-container--lg {
  max-width: 960px;
}

.ds-container--xl {
  max-width: 1140px;
}
