.ds-heading {
  margin: 0;
  color: var(--ds-text);
  font-family: var(--ds-font-primary);
  font-style: normal;
  line-height: var(--ds-text-h1-line);
}

.ds-heading--1 {
  font-size: var(--ds-text-h1-size);
  font-weight: var(--ds-text-h1-weight);
}

.ds-heading--2 {
  font-size: var(--ds-text-h2-size);
  font-weight: var(--ds-text-h2-weight);
}

.ds-heading--3 {
  font-size: var(--ds-text-h3-size);
  font-weight: var(--ds-text-h3-weight);
}

.ds-heading--4 {
  font-size: var(--ds-text-title-size);
  font-weight: var(--ds-text-title-weight);
}
